window {
    margin: 5px;
    background-color: #10002b;
    border: 2px solid #9d4edd;
    border-radius: 5px;
}

#input {
    margin: 5px;
    border: none;
    color: #e0aaff;
    background-color: #240046;
    border-radius: 5px;
    -wofi-icon-size: 0px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #10002b;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #10002b;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0aaff;
}

#entry:selected {
    background-color: #7b2cbf;
    color: #ffffff;
    border-radius: 5px;
}
